.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-family: "sans-serif";
}

.singlePostEdit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: teal;
}
.singlePostIcon:last-child {
    color: tomato;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #be9656;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor{
    margin-left: 5px;
    color: #0E2A47;
}

.singlePostDesc {
    color: #666;
    font-size: 16px;
    line-height: 25px;
}

.singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.post {
    width: 385px;
    margin: 0px 25px 40px 25px;
    display: flex;
    flex-direction: column;
}

.postImg {
    width: 385px;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}
.postCat {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #be9656;
    line-height: 19px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
}

.postDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    margin-top: 15px;
}

.postDesc {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}



